

{% load static %}

<div class="sidebar">
  <div class="profile">
    <img src="{% static 'img/logo.png' %}" alt="logo">
  </div>
    <ul>
      <li>
        {% if '/' == request.path %}
          <a href="{% url 'home' %}" class="active">
        {% else %}
          <a href="{% url 'home' %}">
        {% endif %}
          <span class="icon"><i class="fas fa-home"></i></span>
            <span class="item">Home</span>
        </a>
      </li>
      <li>
        {% if 'list_vehicle' in request.path %}
          <a href="{% url 'list_vehicle' %}" class="active">
        {% else %}
            <a href="{% url 'list_vehicle' %}">
        {% endif %}
          <span class="icon"><i class="fas fa-motorcycle"></i></span>
          <span class="item">List Vehicles</span>
        </a>
      </li>
    </ul>
  </div>
</div>
